parameters:
  level: 1
  paths:
    - lib/pkp

  excludePaths:
    - vendor/*
    - lib/pkp/lib/vendor/*
    - lib/pkp/tests/* # Exclude test files if they aren't meant to be analyzed
  scanFiles:
    - vendor/autoload.php
