parameters:
  level: max
  paths:
    - lib/pkp/classes
    - lib/pkp/controllers
    - lib/pkp/pages
    - lib/pkp/lib
  excludePaths:
    - vendor/*
    - lib/pkp/lib/vendor/*
    - lib/pkp/tests/* # Exclude test files if they aren't meant to be analyzed
  scanFiles:
    - vendor/autoload.php
